# Project Proposal

In [17]:
library(tidyverse)
library(repr)
library(infer)
library(cowplot)
library(broom)

## 2 Preliminary Results

### Cleaning and Wrangling of Data

In [18]:
download.file("https://github.com/fivethirtyeight/data/raw/master/bechdel/movies.csv", destfile = "movies.csv")
movie_data <- read.csv("movies.csv")
head(movie_data)

  year imdb      title            test            clean_test binary budget
1 2013 tt1711425 21 &amp; Over    notalk          notalk     FAIL    13000000
2 2012 tt1343727 Dredd 3D         ok-disagree     ok         PASS    45000000
3 2013 tt2024544 12 Years a Slave notalk-disagree notalk     FAIL    20000000
4 2013 tt1272878 2 Guns           notalk          notalk     FAIL    61000000
5 2013 tt0453562 42               men             men        FAIL    40000000
6 2013 tt1335975 47 Ronin         men             men        FAIL   225000000
  domgross intgross  code     budget_2013. domgross_2013. intgross_2013.
1 25682380 42195766  2013FAIL  13000000    25682380       42195766
2 13414714 40868994  2012PASS  45658735    13611086       41467257
3 53107035 158607035 2013FAIL  20000000    53107035       158607035
4 75612460 132493015 2013FAIL  61000000    75612460       132493015
5 95020213 95020213  2013FAIL  40000000    95020213       95020213
6 38362475 145803842 2013FAIL 225000000    38362475       145803842
  period.code decade.code
1 1           1
2 1           1
3 1           1
4 1           1
5 1           1
6 1           1